In [ ]:
## Import the required library 
import requests
from bs4 import BeautifulSoup
import re

ModuleNotFoundError: No module named 'requests'

In [ ]:
df=pd.read_csv('/users/mushtaqali/Downloads/pubchem/pubchem_3000k_4000k')

In [4]:
import pandas as pd
df=pd.read_csv('/users/mushtaqali/Downloads/pubchem/pubchem_3000k_4000k')
import requests
from bs4 import BeautifulSoup
import re
import pubchempy as pcp
import pandas as pd
def cid_to_sol(id):
   x="https://pubchem.ncbi.nlm.nih.gov/rest/pug_view/data/compound/%s/xml"
   data=requests.get(x % id)#,timeout=(10,20) )
   html = BeautifulSoup(data.content, "xml")
   solubility = html.find(name='TOCHeading', string='Solubility')
   #print(dtype(solubility))
   if solubility == None:
      return None  
   #elif          # or pass
   else:
     solub=solubility.find_next_sibling('Information').find(name='String').string
     return solub
df2=df.iloc[0:10000]
dfnew1=df2[0:1000]
dfnew2=df2[1000:2000]
dfnew3=df2[2000:3000]
dfnew4=df2[3000:4000]
dfnew5=df2[4000:5000]
dfnew6=df2[5000:6000]
dfnew7=df2[6000:7000]
dfnew8=df2[7000:8000]
dfnew9=df2[8000:9000]
dfnew10=df2[9000:10000]
import time
start = time.time()
#dfnew1 = dfnew1.reset_index()
obj=[dfnew1, dfnew2, dfnew3,dfnew4, dfnew5,dfnew6, dfnew7,dfnew8, dfnew9, dfnew10]
#obj= [dfnew11, dfnew12, dfnew13,dfnew14, dfnew15, dfnew16,dfnew17, dfnew18, dfnew19,dfnew20]
#dfnew1 = dfnew1.reset_index()
p_sol_final=[]
for j in range(10):
    P_sol=[]
    for i in range(1000):
      try:
        time.sleep(0.2) # Sleep for 1 seconds
        obj[j] = obj[j].reset_index(drop=True)
        sol=cid_to_sol(obj[j].CID[i])
        #
        P_sol.append(sol)
      except AttributeError as e:
        sol=='No string'
        P_sol.append(sol)
    p_sol_final.append(P_sol) 
df1 = pd.DataFrame(p_sol_final)
joinlist = [x for list in p_sol_final for x in list]
df1 = pd.DataFrame(joinlist) 
df=pd.concat(obj)
df1 = df1.reset_index(drop=True)
df = df.reset_index(drop=True) 
data = pd.concat([df, df1], axis=1, join='inner')
data.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_300000_3010000.csv') 
end = time.time()
duration = end-start 
print(duration)

SSLError: EOF occurred in violation of protocol (_ssl.c:1129)

In [1]:
import pandas as pd
data1=pd.read_csv('/Users/mushtaqali/Downloads/CID-SMILES.csv')

In [22]:
import pubchempy

In [1]:
print(len(data1))

NameError: name 'data1' is not defined

In [4]:
data1.columns =['SMILES']

In [5]:
data1.head(5)

                                         SMILES
0              2\tCC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                   3\tC1=CC(C(C(=C1)C(=O)O)O)O
2                                    4\tCC(CN)O
3                       5\tC(C(=O)COP(=O)(O)O)N
4  6\tC1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl

In [6]:
data2 =data1.SMILES.str.split('\t').str[0]

In [7]:
data2.head()

0                    2
1                    3
2                    4
3                    5
4                    6
               ...
111403058    163319706
111403059    163319707
111403060    163319708
111403061    163319709
111403062    163319710
Name: SMILES, Length: 111403063, dtype: object

In [8]:
data3 =data1.SMILES.str.split('\t').str[1]

In [9]:
data3.head(5)

0                CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                     C1=CC(C(C(=C1)C(=O)O)O)O
2                                      CC(CN)O
3                         C(C(=O)COP(=O)(O)O)N
4    C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
Name: SMILES, dtype: object

In [10]:
data_final=pd.concat([data2,data3], axis=1)

In [29]:
data_final

              SMILES                                             SMILES
0                  2                      CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                  3                           C1=CC(C(C(=C1)C(=O)O)O)O
2                  4                                            CC(CN)O
3                  5                               C(C(=O)COP(=O)(O)O)N
4                  6          C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...              ...                                                ...
111403058  163319706  CCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=O)N(C)C4=CC...
111403059  163319707  COC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C(=O)/C(=C/C...
111403060  163319708  CC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H]2C[C@@H]1[...
111403061  163319709  COC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C(=O)/C(=C/C...
111403062  163319710  C[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(CC[C@@H]1N4C...

[111403063 rows x 2 columns]

In [28]:
df_new = data_final.rename(columns={'SMILES': 'CID'})


#data_final.rename({'SMILES': 'CID', 'SMILES': 'SMILES'}, axis=1, inplace=True)

df_new

              SMILES                                             SMILES
0                  2                      CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                  3                           C1=CC(C(C(=C1)C(=O)O)O)O
2                  4                                            CC(CN)O
3                  5                               C(C(=O)COP(=O)(O)O)N
4                  6          C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...              ...                                                ...
111403058  163319706  CCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=O)N(C)C4=CC...
111403059  163319707  COC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C(=O)/C(=C/C...
111403060  163319708  CC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H]2C[C@@H]1[...
111403061  163319709  COC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C(=O)/C(=C/C...
111403062  163319710  C[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(CC[C@@H]1N4C...

[111403063 rows x 2 columns]

In [30]:
df_new.columns = ['CID', 'SMILES']

In [31]:
df_new

                 CID                                             SMILES
0                  2                      CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                  3                           C1=CC(C(C(=C1)C(=O)O)O)O
2                  4                                            CC(CN)O
3                  5                               C(C(=O)COP(=O)(O)O)N
4                  6          C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...              ...                                                ...
111403058  163319706  CCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=O)N(C)C4=CC...
111403059  163319707  COC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C(=O)/C(=C/C...
111403060  163319708  CC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H]2C[C@@H]1[...
111403061  163319709  COC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C(=O)/C(=C/C...
111403062  163319710  C[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(CC[C@@H]1N4C...

[111403063 rows x 2 columns]

In [1]:
df_new.to_csv('/users/mushtaqali/Downloads/CID-SMILES-fine.csv')

NameError: name 'df_new' is not defined

In [1]:
import pandas as pd 
data=pd.read_csv('/users/mushtaqali/Downloads/CID-SMILES-fine.csv')

In [5]:
def remove_invalid(smiles):
    """
    Removes invalid molecules from the dataset.
    """
    #valid = [sm for sm in smiles if MolFromSmiles(sm)]
    valid = Chem.MolFromSmiles(smiles)
    if len(valid) == len(smiles):
        return smiles, "Given  SMILES is valid!"
    return valid, "SMILES is invalid! Showing results for valid SMILES only!"

In [8]:
#smiles = 'CC(=O)OC1=CC=CC=C1C(=O)O'
#remove_invalid(smiles)

In [2]:
print(len(data))

111403063

In [3]:

data1=data[9000000:10000000]
data2=data[10000000:11000000]
data3=data[11000000:12000000]
data4=data[12000000:13000000]
data5=data[13000000:14000000]
data6=data[14000000:15000000]
data7=data[15000000:16000000]
data8=data[16000000:17000000]
data9=data[17000000:18000000]
data10=data[18000000:19000000]
data11=data[19000000:20000000]

In [5]:
print(len(data11))

1000000

In [6]:
data1.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_9000k_10000k')
data2.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_10000k_11000k')
data3.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_11000k_12000k')
data4.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_12000k_13000k')
data5.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_13000k_14000k')
data6.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_14000k_15000k')
data7.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_15000k_16000k')
data8.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_16000k_17000k')
data9.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_17000k_18000k')
data10.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_18000k_19000k')
data11.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_19000k_20000k')

In [15]:
data1=data[400000:410000]
data2=data[410000:420000]
data3=data[420000:430000]
data4=data[430000:440000]
data5=data[440000:450000]
data6=data[450000:460000]
data7=data[460000:470000]
data8=data[470000:480000]
data9=data[480000:490000]
data10=data[490000:500000]
data11=data[500000:510000]
data12=data[510000:520000]
data13=data[520000:530000]
data14=data[530000:540000]
data15=data[540000:550000]
data16=data[550000:560000]
data17=data[560000:570000]
data18=data[570000:580000]
data19=data[580000:590000]
data20=data[590000:600000]

In [16]:
data1.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_400k_410k.csv')
data2.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_410k_420k.csv')
data3.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_420k_430k.csv')
data4.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_430k_440k.csv')
data5.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_440k_450k.csv')
data6.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_450k_460k.csv')
data7.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_460k_470k.csv')
data8.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_470k_480k.csv')
data9.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_480k_490k.csv')
data10.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_490k_500k.csv')
data11.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_500k_510k.csv')
data12.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_510k_520k.csv')
data13.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_520k_530k.csv')
data14.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_530k_540k.csv')
data15.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_540k_550k.csv')
data16.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_550k_560k.csv')
data17.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_560k_570k.csv')
data18.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_570k_580k.csv')
data19.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_580k_590k.csv')
data20.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_590k_600k.csv')

In [ ]:
data.iloc[0:10000,]

In [22]:
data

,Unnamed: 0,SMILES,SMILES.1
0,0,2,CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1,1,3,C1=CC(C(C(=C1)C(=O)O)O)O
2,2,4,CC(CN)O
3,3,5,C(C(=O)COP(=O)(O)O)N
4,4,6,C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...,...,...,...
111403058,111403058,163319706,CCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=O)N(C)C4=CC...
111403059,111403059,163319707,COC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C(=O)/C(=C/C...
111403060,111403060,163319708,CC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H]2C[C@@H]1[...
111403061,111403061,163319709,COC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C(=O)/C(=C/C...
111403062,111403062,163319710,C[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(CC[C@@H]1N4C...

In [21]:
data1

      Unnamed: 0  SMILES                                           SMILES.1
0              0       2                      CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1              1       3                           C1=CC(C(C(=C1)C(=O)O)O)O
2              2       4                                            CC(CN)O
3              3       5                               C(C(=O)COP(=O)(O)O)N
4              4       6          C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...          ...     ...                                                ...
9995        9995   10592  CC12CCC(=O)CC1CCC3C2C(CC4(C3CC[C@@]4(C(=O)CO)O...
9996        9996   10593     CC12CCC(CC1CCC3C2CCC4(C3CC[C@@]4(C(=O)CO)O)C)O
9997        9997   10594  CC(CCC(=O)NCCS(=O)(=O)O)[C@H]1CC[C@@H]2[C@@]1(...
9998        9998   10595  CC(CCC(=O)NCCS(=O)(=O)O)[C@H]1CC[C@@H]2[C@@]1(...
9999        9999   10596      CC12CCC3[C@@H](C1CC[C@@H]2O)CCC4=C3C=CC(=C4)O

[10000 rows x 3 columns]

In [8]:
print(df.Geek_ID.str.split('_').str[0])

data.head()

            1\tCC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
0              2\tCC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                   3\tC1=CC(C(C(=C1)C(=O)O)O)O
2                                    4\tCC(CN)O
3                       5\tC(C(=O)COP(=O)(O)O)N
4  6\tC1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl

In [3]:
import pubchempy as pcp

import pandas as pd

In [4]:
def smiles_to_sol(SMILES):
   prop=pcp.get_properties([ 'MolecularWeight'], SMILES, 'smiles')
   x = list(map(lambda x: x["CID"], prop))
   y=x[0]
   #print(y)
   x = "https://pubchem.ncbi.nlm.nih.gov/rest/pug_view/data/compound/%s/xml"
   data=requests.get(x % y)
   
   html = BeautifulSoup(data.content, "xml")
   solubility = html.find(name='TOCHeading', string='Solubility')
   #print(dtype(solubility))
   if solubility == None:
      return None  
   #elif          # or pass
   else:
     solub=solubility.find_next_sibling('Information').find(name='String').string
     return solub

In [4]:
!pip install openpyxl

Requirement already satisfied: openpyxl in ./env/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in ./env/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/mushtaqali/Desktop/solu/solub_heroku_new-main/env/bin/python -m pip install --upgrade pip' command.

In [5]:


import pandas as pd
### Getting the list of the smiles 

#df1=pd.read_excel(r'/Users/mushtaqali/Downloads/pubchem_5001_10000.xlsx')

df = pd.read_excel(r'/Users/mushtaqali/Downloads/pubchem_10000_20000.xlsx', engine='openpyxl')
#df = pd.read_excel(r'/Users/mushtaqali/Downloads/pubchem_1_10000.xlsx', engine='openpyxl')

In [5]:
df.head()

     SrN                                         SMILES
0  10596  CC12CCC3[C@@H](C1CC[C@@H]2O)CCC4=C3C=CC(=C4)O
1  10597         CC12CCC3=C(C1CCC2=O)C=CC4=C3C=CC(=C4)O
2  10598    CC[Hg]N(C1=CC=CC=C1)S(=O)(=O)C2=CC=C(C=C2)C
3  10599    CCC(C1=CC2=C(C=C1)C=C(C=C2)OC)C(C)(C)C(=O)O
4  10600                                CCC1=C(NC=C1C)C

In [6]:
dfnew1=df[0:500]
dfnew2=df[500:1000]
dfnew3=df[1000:1500]
dfnew4=df[1500:2000]
dfnew5=df[2000:2500]
dfnew6=df[2500:3000]
dfnew7=df[3000:3500]
dfnew8=df[3500:4000]
dfnew9=df[4000:4500]
dfnew10=df[4500:5000]
dfnew11=df[5000:5500]
dfnew12=df[5500:6000]
dfnew13=df[6000:6500]
dfnew14=df[6500:7000]
dfnew15=df[7000:7500]
dfnew16=df[7500:8000]
dfnew17=df[8000:8500]
dfnew18=df[8500:9000]
dfnew19=df[9000:9500]
dfnew20=df[9500:10000]

In [71]:
dfnew1 = dfnew1.reset_index()

print(dfnew1)

   level_0  index    SrN                                         SMILES
0        0      0  10596  CC12CCC3[C@@H](C1CC[C@@H]2O)CCC4=C3C=CC(=C4)O
1        1      1  10597         CC12CCC3=C(C1CCC2=O)C=CC4=C3C=CC(=C4)O
2        2      2  10598    CC[Hg]N(C1=CC=CC=C1)S(=O)(=O)C2=CC=C(C=C2)C
3        3      3  10599    CCC(C1=CC2=C(C=C1)C=C(C=C2)OC)C(C)(C)C(=O)O
4        4      4  10600                                CCC1=C(NC=C1C)C

In [11]:
dfnew1.SrN[1]

2

In [7]:
!pip install pyopenssl ndg-httpsclient pyasn1 urllib3

Requirement already satisfied: pyopenssl in ./env/lib/python3.9/site-packages (22.0.0)
Requirement already satisfied: ndg-httpsclient in ./env/lib/python3.9/site-packages (0.5.1)
Requirement already satisfied: pyasn1 in ./env/lib/python3.9/site-packages (0.4.8)
Requirement already satisfied: urllib3 in ./env/lib/python3.9/site-packages (1.26.11)
Requirement already satisfied: cryptography>=35.0 in ./env/lib/python3.9/site-packages (from pyopenssl) (37.0.2)
Requirement already satisfied: cffi>=1.12 in ./env/lib/python3.9/site-packages (from cryptography>=35.0->pyopenssl) (1.15.0)
Requirement already satisfied: pycparser in ./env/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=35.0->pyopenssl) (2.21)
WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Users/mushtaqali/Desktop/solu/solub_heroku_new-main/env/bin/python -m pip install --upgrade pip' command.

In [8]:
def cid_to_sol(id):
   x="https://pubchem.ncbi.nlm.nih.gov/rest/pug_view/data/compound/%s/xml"
   data=requests.get(x % id)#,timeout=(10,20) )
   html = BeautifulSoup(data.content, "xml")
   solubility = html.find(name='TOCHeading', string='Solubility')
   #print(dtype(solubility))
   if solubility == None:
      return None  
   #elif          # or pass
   else:
     solub=solubility.find_next_sibling('Information').find(name='String').string
     return solub

In [40]:

for idx, my_df in enumerate([dfnew1, dfnew2, dfnew3]):
  my_df.to_csv('mypath/df_' + str(idx + 1) +'.csv')

       SrN                                             SMILES
0    10596      CC12CCC3[C@@H](C1CC[C@@H]2O)CCC4=C3C=CC(=C4)O
1    10597             CC12CCC3=C(C1CCC2=O)C=CC4=C3C=CC(=C4)O
2    10598        CC[Hg]N(C1=CC=CC=C1)S(=O)(=O)C2=CC=C(C=C2)C
3    10599        CCC(C1=CC2=C(C=C1)C=C(C=C2)OC)C(C)(C)C(=O)O
4    10600                                    CCC1=C(NC=C1C)C
..     ...                                                ...
495  11130                                       CCN(CC)CC.Cl
496  11134  C1=CC=C(C=C1)NC2=CC=C(C=C2)N=NC3=CC=C(C=C3)S(=...
497  11135                         C1=CC(=CC=C1N)[Sb](=O)(O)O
498  11136                      C1=CC(=CC=C1S(=O)(=O)O)[Hg]Cl
499  11137                       C1=CC(=CC(=C1)O)[N+](=O)[O-]

[500 rows x 2 columns]
       SrN                                SMILES
500  11138     C1=C(C=C(C=C1C(=O)O)C(=O)O)C(=O)O
501  11139           CN(C)CC(C1=CC(=C(C=C1)O)O)O
502  11140           COC1=CC=CC(=C1)[N+](=O)[O-]
503  11142                    CC(C)C1CCC(=C)C=C1
504  11143  CC(C)[O-].CC(C)[O-].CC(C)[O-].[Al+3]
..     ...                                   ...
995  11657                                CC1CC1
996  11658                           CC(C)(Br)Br
997  11659                       C(Cl)(Cl)(Br)Br
998  11660                           CC(C)(Cl)Cl
999  11661                          C[Sn](C)(C)C

[500 rows x 2 columns]
        SrN                                             SMILES
1000  11662  C1=CC=C(C=C1)[Sb](C2=CC=CC=C2)(C3=CC=CC=C3)(Cl)Cl
1001  11663                                       CC(C)C(Br)Br
1002  11664                                       CC(C)C(Cl)Cl
1003  11665                                         CCC(C)(C)I
1004  11666                                   C(SCl)(Cl)(Cl)Cl
...     ...                                                ...
1495  12165                                   CC1=CC=C(C=C1)NC
1496  12166                                  CC1=CC=C(C=C1)N=O
1497  12167                                  COC1=CC=C(C=C1)Cl
1498  12168                              CC(=O)CC(=O)C1=CC=CO1
1499  12169                               C1=COC(=C1)C=CC(=O)N

[500 rows x 2 columns]

In [66]:
obj=[dfnew1, dfnew2, dfnew3]

#for  my_df in enumerate([dfnew1, dfnew2, dfnew3]):
print(obj[1])

     SrN                                             SMILES
5  10601                                    CC(=O)C1CCOC1=O
6  10602          C([N+](=O)[O-])([N+](=O)[O-])[N+](=O)[O-]
7  10603       C1C2=CC(=C(C=C2C3C1(COC4=C3C=CC(=C4O)O)O)O)O
8  10604  CC1=C(C(=O)N(N1C)C2=CC=CC=C2)C3=C(N(N(C3=O)C4=...
9  10605  CNC1CCC2=CC(=C(C(=C2C3=CC=C(C(=O)C=C13)O)OC)OC)OC

In [74]:
dfnew3 = dfnew3.reset_index()

In [11]:
import time
obj=[dfnew1, dfnew2, dfnew3,
    dfnew4, dfnew5, dfnew6,dfnew7,dfnew8, dfnew9, dfnew10]
   # ,dfnew11, dfnew12, dfnew13,
   # dfnew14, dfnew15, dfnew16,dfnew17, dfnew18, dfnew19,dfnew20
    # ]
#dfnew1 = dfnew1.reset_index()
p_sol_final=[]
for j in range(10):
    P_sol=[]
    for i in range(500):
      try:
        time.sleep(1) # Sleep for 1 seconds
        obj[j] = obj[j].reset_index(drop=True)
        sol=cid_to_sol(obj[j].SrN[i])
        #
        P_sol.append(sol)
      except AttributeError as e:
        sol=='No string'
        P_sol.append(sol)
    p_sol_final.append(P_sol) 
df1 = pd.DataFrame(p_sol_final)
joinlist = [x for list in p_sol_final for x in list]
df1 = pd.DataFrame(joinlist) 
df=pd.concat(obj)
df1 = df1.reset_index(drop=True)
df = df.reset_index(drop=True) 
data = pd.concat([df, df1], axis=1, join='inner')
data.to_csv('/Users/mushtaqali/Desktop/pubchem_10000_15000.csv')

In [96]:
print(len(p_sol_final))


#print(type(P_sol))

3

In [138]:
joinlist = [x for list in p_sol_final for x in list]
#print(joinlist)
df1 = pd.DataFrame(joinlist) 
#df1.to_csv('/Users/mushtaqali/Desktop/pubchem_test.csv') 
#df1
df=pd.concat(obj)
#df1
df1 = df1.reset_index(drop=True)
df = df.reset_index(drop=True)

data = pd.concat([df, df1], axis=1, join='inner')
#data=[df,df1]
#df2 = pd.concat(data)
#df2 = pd.concat([df, df1], axis=1,ignore_index=True)
#data = pd.concat([df, df1], axis=1, join='inner')
#df2 = pd.concat([df, df1], axis=1)

#df2.to_csv('/Users/mushtaqali/Desktop/pubchem_test.csv') 
data.to_csv('/Users/mushtaqali/Desktop/pubchem_test.csv') 
#print(P_sol)
#P_sol=pd.DataFrame(P_sol)

In [51]:
df1 = pd.DataFrame(P_sol)

In [47]:
df1.to_csv('/Users/mushtaqali/Desktop/pubchem_9500_10000.csv')

In [3]:
data1=pd.read_csv('/Users/mushtaqali/Desktop/P_sol_5000_7000.csv')
data2=pd.read_csv('/Users/mushtaqali/Desktop/P_sol_7000_8000.csv')
data3=pd.read_csv('/Users/mushtaqali/Desktop/P_sol_8000_9000.csv')
data4=pd.read_csv('/Users/mushtaqali/Desktop/P_sol_9000_10000.csv')

In [10]:
import pandas as pd
data_f= pd.concat
data_f = pd.concat([data1, data2], axis=0)
data_f1=pd.concat([data_f, data3], axis=0)
data_f2=pd.concat([data_f1, data4], axis=0)
data_f2

     Unnamed: 0                                                  0
0             0                                                NaN
1             1                                                NaN
2             2  Very soluble in water at pH < 5.5 (mesylate salt)
3             3                                                NaN
4             4                                                NaN
..          ...                                                ...
995         995                                                NaN
996         996                                                NaN
997         997                                                NaN
998         998                                                NaN
999         999                                                NaN

[5000 rows x 2 columns]

In [21]:
data_f2

     Unnamed: 0                                         Solubility
0             0                                                NaN
1             1                                                NaN
2             2  Very soluble in water at pH < 5.5 (mesylate salt)
3             3                                                NaN
4             4                                                NaN
..          ...                                                ...
995         995                                                NaN
996         996                                                NaN
997         997                                                NaN
998         998                                                NaN
999         999                                                NaN

[5000 rows x 2 columns]

In [24]:
data_f2 = data_f2.reset_index(drop=True)

In [25]:
#df1 = pd.DataFrame(P_sol)
#data_f2.columns =['Solubility']
data_f3 = pd.concat([df, data_f2], axis=1)



print(data_f3)

        SrN                                             SMILES  Unnamed: 0  \
0      5289  CC(=CCC(C(=CC=CC(=C1C(=O)CC2C1(CCC3C2(CCC(C3(C...           0
1      5290     COC1=C(C=C2C3CC4=C(CN3CCC2=C1)C(=C(C=C4)O)OC)O           1
2      5291  CC1=C(C=C(C=C1)NC(=O)C2=CC=C(C=C2)CN3CCN(CC3)C...           2
3      5292  CC=C(C)C=CC=CC(C)C(C)C(C)C(C)CCC1=C(C(=O)C2=C(...           3
4      5293  CC=C(C)C=CC=CC(C(C)C(C(C)CCC1=C(C(=O)C2=C(O1)C...           4
...     ...                                                ...         ...
4995  10591  CC(CCC(=O)NCCS(=O)(=O)O)[C@H]1CC[C@@H]2[C@@]1(...         995
4996  10592  CC12CCC(=O)CC1CCC3C2C(CC4(C3CC[C@@]4(C(=O)CO)O...         996
4997  10593     CC12CCC(CC1CCC3C2CCC4(C3CC[C@@]4(C(=O)CO)O)C)O         997
4998  10594  CC(CCC(=O)NCCS(=O)(=O)O)[C@H]1CC[C@@H]2[C@@]1(...         998
4999  10595  CC(CCC(=O)NCCS(=O)(=O)O)[C@H]1CC[C@@H]2[C@@]1(...         999

                                             Solubility
0                                                   NaN
1                                                   NaN
2     Very soluble in water at pH < 5.5 (mesylate salt)
3                                                   NaN
4                                                   NaN
...                                                 ...
4995                                                NaN
4996                                                NaN
4997                                                NaN
4998                                                NaN
4999                                                NaN

[5000 rows x 4 columns]

In [42]:
df_n = data_f3.loc[data_f3['Solubility'].notnull(), ['SMILES','Solubility']]
#df_n=pd.DataFrame(df_n)
print(type(df_n))

<class 'pandas.core.frame.DataFrame'>

In [45]:
sol_new=df_n.Solubility
#print(sol_new)
import re
sol1=[]
### Using regular expression module cleaning the data and taking out the data with with unit "mg/mL" in the pubchem ... 
for s in sol_new:
   sol=re.findall(r'(?<![\-\/])(\d+(?:\.?\d+)) *mg\b', s)
   sol1.append(sol)

In [56]:
df10=pd.DataFrame(sol1)

In [79]:
df10 = df10.iloc[: , :1]

In [80]:
#df3=df_n.SMILES
#print(df3)
#df3.reset_index(drop=True, inplace=True)
#print(df3)
print(len(sol1))
#df2 = pd.DataFrame(sol1)
df10.columns =['Solubility_new']
print(len(df10))
print(df10)

1849
1849
     Solubility_new
0              None
1              None
2              None
3              None
4              None
...             ...
1844           None
1845           None
1846           None
1847           None
1848           None

[1849 rows x 1 columns]

In [81]:
df9=df_n['SMILES']

In [82]:
df9

2       CC1=C(C=C(C=C1)NC(=O)C2=CC=C(C=C2)CN3CCN(CC3)C...
9       CC1=C(C(=C(N=C1C(=O)O)C2=NC3=C(C=C2)C(=O)C(=C(...
11                       CN(C(=O)NC1C(C(C(OC1O)CO)O)O)N=O
22                       C1=CC=C(C=C1)NC(=O)CCCCCCC(=O)NO
25               C[N+](C)(C)CCOC(=O)CCC(=O)OCC[N+](C)(C)C
                              ...
4974    CC(C)C1=CC2=CC[C@@H]3[C@@]([C@H]2CC1)(CCC[C@@]...
4983    CCN1C2=CC=CC=C2SC1=CC=CC=CC3=[N+](C4=CC=CC=C4S...
4987                                 CC1(C2CC=C(C1C2)CO)C
4989                              CCOS(=O)(=O)C1=CC=CC=C1
4990                         CC1=CCC(CC1)C(C)(CCC=C(C)C)O
Name: SMILES, Length: 1849, dtype: object

In [86]:
df9.reset_index(drop=True, inplace=True)

In [87]:
df_new = pd.concat([df9,df10], axis=1,ignore_index=True)
df_new

                                                      0     1
0     CC1=C(C=C(C=C1)NC(=O)C2=CC=C(C=C2)CN3CCN(CC3)C...  None
1     CC1=C(C(=C(N=C1C(=O)O)C2=NC3=C(C=C2)C(=O)C(=C(...  None
2                      CN(C(=O)NC1C(C(C(OC1O)CO)O)O)N=O  None
3                      C1=CC=C(C=C1)NC(=O)CCCCCCC(=O)NO  None
4              C[N+](C)(C)CCOC(=O)CCC(=O)OCC[N+](C)(C)C  None
...                                                 ...   ...
1844  CC(C)C1=CC2=CC[C@@H]3[C@@]([C@H]2CC1)(CCC[C@@]...  None
1845  CCN1C2=CC=CC=C2SC1=CC=CC=CC3=[N+](C4=CC=CC=C4S...  None
1846                               CC1(C2CC=C(C1C2)CO)C  None
1847                            CCOS(=O)(=O)C1=CC=CC=C1  None
1848                       CC1=CCC(CC1)C(C)(CCC=C(C)C)O  None

[1849 rows x 2 columns]

In [88]:
df_new.columns =['SMILES', 'SOLUBILITY mg/mL']

In [89]:
df_sol = df_new.loc[df_new['SOLUBILITY mg/mL'].notnull(), ['SMILES','SOLUBILITY mg/mL']]
df_sol

                                                 SMILES SOLUBILITY mg/mL
28    CCN(CC)CCS(=O)(=O)C1CCN2C1C(=O)OC(C(C=CC(=O)NC...            26.88
37                          C1CC(C2=CC=CC=C2C1)C3=NCCN3            31.09
54                              CCN(CC)C(=O)C1=CN=CC=C1              100
62     C1CN(CCN1CCCN2C(=O)N3C=CC=CC3=N2)C4=CC(=CC=C4)Cl             27.6
66                                          C(Br)(Br)Br              0.1
...                                                 ...              ...
1807                                           C1COCOC1              100
1813                         CCCC(C=CC=CC=CC#CC#CCCCO)O              2.8
1823                   C[C@@]12CC[C@H](C1(C)C)C[C@@H]2O              738
1826       CCOC(=O)C(C1=CC=C(C=C1)Cl)(C2=CC=C(C=C2)Cl)O              0.1
1828                                      COP(=O)(OC)OC              100

[298 rows x 2 columns]

In [94]:
import pandas as pd 
df_sol.to_csv('/Users/mushtaqali/Desktop/Final_pubchem_5000_10000.csv')

In [4]:
import pandas as pd
df = pd.read_csv('/Users/mushtaqali/Downloads/pubchem/pubchem_0k_10k.csv')

In [6]:
dfnew1=df[0:500]
dfnew2=df[500:1000]
dfnew3=df[1000:1500]
dfnew4=df[1500:2000]
dfnew5=df[2000:2500]
dfnew6=df[2500:3000]
dfnew7=df[3000:3500]
dfnew8=df[3500:4000]
dfnew9=df[4000:4500]
dfnew10=df[4500:5000]
dfnew11=df[5000:5500]
dfnew12=df[5500:6000]
dfnew13=df[6000:6500]
dfnew14=df[6500:7000]
dfnew15=df[7000:7500]
dfnew16=df[7500:8000]
dfnew17=df[8000:8500]
dfnew18=df[8500:9000]
dfnew19=df[9000:9500]
dfnew20=df[9500:10000]

In [7]:
def cid_to_sol(id):
   x="https://pubchem.ncbi.nlm.nih.gov/rest/pug_view/data/compound/%s/xml"
   data=requests.get(x % id)#,timeout=(10,20) )
   html = BeautifulSoup(data.content, "xml")
   solubility = html.find(name='TOCHeading', string='Solubility')
   #print(dtype(solubility))
   if solubility == None:
      return None  
   #elif          # or pass
   else:
     solub=solubility.find_next_sibling('Information').find(name='String').string
     return solub

In [10]:
import time
#obj=[dfnew1, dfnew2, dfnew3,dfnew4, dfnew5,dfnew6, dfnew7,dfnew8, dfnew9, dfnew10]
obj= [dfnew11, dfnew12, dfnew13,dfnew14, dfnew15, dfnew16,dfnew17, dfnew18, dfnew19,dfnew20]
#dfnew1 = dfnew1.reset_index()
p_sol_final=[]
for j in range(10):
    P_sol=[]
    for i in range(500):
      try:
        time.sleep(1) # Sleep for 1 seconds
        obj[j] = obj[j].reset_index(drop=True)
        sol=cid_to_sol(obj[j].CID[i])
        
        P_sol.append(sol)
      except AttributeError as e:
        sol=='No string'
        P_sol.append(sol)
    p_sol_final.append(P_sol) 
df1 = pd.DataFrame(p_sol_final)
joinlist = [x for list in p_sol_final for x in list]
df1 = pd.DataFrame(joinlist) 
df=pd.concat(obj)
df1 = df1.reset_index(drop=True)
df = df.reset_index(drop=True) 
data = pd.concat([df, df1], axis=1, join='inner')
data.to_csv('/Users/mushtaqali/Downloads/pubchem/pubchem_5000_10000.csv')
#data.to_csv('/content/drive/MyDrive/pubchem_5000_10000.csv')