In [ ]:
### In order to get the data from Pubchem need CID (Compound id number) along with smiles 
#for unfiltered SMILES of every CID in PubChem, the URL is 
#####       ftp://ftp.ncbi.nlm.nih.gov/pubchem/Compound/Extras/CID-SMILES.gz

In [1]:
### Make the dataframe of the csv file 
import pandas as pd
data1=pd.read_csv('/Users/mushtaqali/Downloads/CID-SMILES.csv')

In [2]:
### Total number of compound in pubchem database with smiles and cid 
### 111.4 million compounds present in the pubchem database  
print(len(data1))

111403063

In [4]:
##snapshot of the dataframe
data1

                         1\tCC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
0                           2\tCC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                                3\tC1=CC(C(C(=C1)C(=O)O)O)O
2                                                 4\tCC(CN)O
3                                    5\tC(C(=O)COP(=O)(O)O)N
4               6\tC1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...                                                      ...
111403058  163319706\tCCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=...
111403059  163319707\tCOC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C...
111403060  163319708\tCC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H...
111403061  163319709\tCOC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C...
111403062  163319710\tC[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(C...

[111403063 rows x 1 columns]

In [5]:
### Keeping the name of the column smiles 
data1.columns =['SMILES']

In [6]:
data1.head(5)

                                         SMILES
0              2\tCC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                   3\tC1=CC(C(C(=C1)C(=O)O)O)O
2                                    4\tCC(CN)O
3                       5\tC(C(=O)COP(=O)(O)O)N
4  6\tC1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl

In [ ]:
### separating the cid from smiles  
data2 =data1.SMILES.str.split('\t').str[0]

In [7]:
data2.head()

0                    2
1                    3
2                    4
3                    5
4                    6
               ...
111403058    163319706
111403059    163319707
111403060    163319708
111403061    163319709
111403062    163319710
Name: SMILES, Length: 111403063, dtype: object

In [8]:
### Separating the smiles 
data3 =data1.SMILES.str.split('\t').str[1]

In [9]:
data3.head(5)

0                CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                     C1=CC(C(C(=C1)C(=O)O)O)O
2                                      CC(CN)O
3                         C(C(=O)COP(=O)(O)O)N
4    C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
Name: SMILES, dtype: object

In [10]:
### Combining the smiles and CID and ins single dataframe 
data_final=pd.concat([data2,data3], axis=1)

In [30]:
### Giving the column name 
data_final.columns = ['CID', 'SMILES']

In [31]:
data_final

                 CID                                             SMILES
0                  2                      CC(=O)OC(CC(=O)O)C[N+](C)(C)C
1                  3                           C1=CC(C(C(=C1)C(=O)O)O)O
2                  4                                            CC(CN)O
3                  5                               C(C(=O)COP(=O)(O)O)N
4                  6          C1=CC(=C(C=C1[N+](=O)[O-])[N+](=O)[O-])Cl
...              ...                                                ...
111403058  163319706  CCCCC1COC2=CC=CC\3=C2N1C=C/C3=C\C(=O)N(C)C4=CC...
111403059  163319707  COC1=CC(=CC(=C1O)CN2CCCCC2)/C=C\3/C(=O)/C(=C/C...
111403060  163319708  CC(C)C1=C[C@@]23CC[C@@H]4[C@@]([C@H]2C[C@@H]1[...
111403061  163319709  COC1=CC(=CC(=C1O)CN2CCOCC2)/C=C\3/C(=O)/C(=C/C...
111403062  163319710  C[C@H]1[C@@H]2CC[C@]3([C@H]([C@]2(CC[C@@H]1N4C...

[111403063 rows x 2 columns]

In [ ]:
### Saving the final dataframe with CID and smiles in csv file 
data_final.to_csv('/users/mushtaqali/Downloads/CID-SMILES-fine.csv')

In [1]:
### importing data from the disk 
import pandas as pd 
data=pd.read_csv('/users/mushtaqali/Downloads/CID-SMILES-fine.csv')

In [2]:

print(len(data))

111403063

In [3]:
### deviding the dataframe in chunks of  1 millions 
data1=data[0:1000000]
data2=data[1000000:2000000]
data3=data[2000000:3000000]
data4=data[3000000:4000000]
data5=data[4000000:5000000]
data6=data[5000000:6000000]
data7=data[6000000:7000000]
data8=data[7000000:8000000]
data9=data[8000000:9000000]
data10=data[9000000:10000000]

In [14]:
### size of single chunks of smiles 
print(len(data1))

1000000

In [6]:
### Making csv file of every chunks of 1 million smiles 
data1.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_0k_1000k')
data2.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_1000k_2000k')
data3.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_2000k_3000k')
data4.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_3000k_4000k')
data5.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_4000k_5000k')
data6.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_5000k_6000k')
data7.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_6000k_7000k')
data8.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_7000k_8000k')
data9.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_8000k_9000k')
data10.to_csv('/users/mushtaqali/Downloads/pubchem/pubchem_9000k_10000k')